<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top: 40px;">
        <form action="/northwind/searchresults">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="form-control" name="minstock" placeholder="Min Stock" />
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="maxstock" placeholder="Max Stock" />
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-block">Search</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
