@using WebApplication14.Models
@model Person

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPerson</title>
</head>
<body>
<h1>Person added!! First Name: @Model.FirstName - LastName: @Model.LastName</h1>
</body>
</html>
